* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    background-color: rgb(176, 210, 210);
 
}

body{
    border: black thick;
    text-align: center;
    border-color: black;
    border-radius: 10em;
    background-color: rgb(176, 210, 210);
}

button{
    box-shadow: 5px 7px grey;
}

.time {
    text-align: right;
}

.hide {
    display: none;
}